/*
maple leafs blue: #00205B;
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

html {
    text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    font-weight: 400;
    position: relative;
}

h3 {
    font-size: 26px;
}

.right {
    float: right;
}

/*********** - ************/
/* ------ TOP Part ------ */
/*********** - ************/

.top {
    height: 35%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url(mapleLeafWhite.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(mapleLeafWhite.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.cap {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    text-align: center;
    margin-bottom: 10px
}

.logo__maple__leaf {
    height: auto;
    width: 40%;
}

.cap__descreption {
    text-align: center;
}

.cap__limit__year {
    font-weight: 900;
    font-size: 120%;
    margin-bottom: 5px;
}

.cap__upper__lower__money {
    font-weight: 500;
    margin-bottom: 15px;
}

/* ---- QUSETION lOGO ---- */

.question {
    font-size: 100%;
    cursor: pointer;
    color: #00205B;
    margin-right: 1px;
}

/*********** - ************/
/* ----- Conatainer ----- */
/*********** - ************/

.container {
    min-height: 65%;
    margin-bottom: -50px;
}

.add {
    margin: 0 auto;
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px 0;
    position: relative;
}

.add__name,
.add__salary {
    border: 0;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

.add__name:focus,
.add__salary:focus {
    border: 1px solid #00205B;
}

.add__player {
    width: 12%;
    border: 1px solid #f7f7f7;
    height: 42px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 500;
    border-radius: 5px;
    -webkit-transition: border 0.9s;
    transition: border 0.9s;
}

.add__player:focus {
    outline: none;
    border: 1px solid #00205B;
}

/* ------------ Player Container ------------ */

.player__container {
    text-align: center;
    margin: 0 auto;
}

.player__forwards,
.player__defense {
    padding-top: 15px 0;
}

.player__title {
    color: #00205B;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 150%
}

.player__name {
    float: left;
    margin-left: 15%;
}

.player__salary {
    float: left;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    margin-right: 100px;
}

.player__delete {
    float: left;
}

.player__delete__btn {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    color: #FF5049;
    display: none;
}

.player__delete__btn:focus {
    outline: none;
}

.player__delete__btn:active {
    -webkit-transform: translateX(1.5px);
    transform: translateX(1.5px)
}

.player__goalies {
    text-align: center;
    margin-left: 25%;
    padding: 15px 0;
}

.forward__list,
.defense__list,
.goalie__list {
    width: 70%;
    margin-left: 12.5%;
}

.goalie__list {
    /*A goalie és a footer közti távolság*/
    margin-bottom: 10%;
}

.player__list {
    padding: 15px;
    border-bottom: 1px solid rgba(231, 231, 231, 0.7);
}

.player__list:first-child {
    border-top: 1px solid rgba(231, 231, 231, 0.7);
}

.player__list:nth-child(even) {
    background-color: #f7f7f7;
}

.player__list:hover .player__delete__btn {
    display: block
}

.player__list:hover .player__salary {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px)
}

/*********** - ************/
/* ------- Button ------- */
/*********** - ************/

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
    color: #00205B;
}

.add__btn:active {
    -webkit-transform: translateX(1.5px);
    transform: translateX(1.5px);
}

.add__btn:focus {
    outline: none
}

/***************************/
/* -------- FOOTER ------- */
/***************************/

footer {
    /*position: absolute;*/
    position: relative;
    background-color: #f7f7f7;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    text-align: center;
    border-top: 2px solid rgb(0, 32, 91);
    /*Ezt a mozgó footer miatt*/
    height: 5%;
}

.footer__title {
    position: absolute;
    color: #00205B;
    margin-left: 34%;
}

.company__name {
    cursor: pointer;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
}
/*
.company__name:hover {
    font-size: 102%;
    font-weight: 700;
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
}
*/
/* ------- HELP -------*/
.help {
    position: absolute;
    top: 50%;
    left: 5%;
    color: #00205B;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 135%;
    color: #00205B;
}

.help__icon {
    color: #00205B;
}

/* ------- CapFriendly -------*/

.wrong__salary_number a {
    text-decoration: none;
    color: #00205B;
    cursor: pointer;
    font-weight: 500;
}

.wrong__salary_number a:hover {
    font-weight: 600;
}
/****************************************/
/*--------------- SPAN -----------------*/
/****************************************/

[company-title],
[salary-title] {
    position: relative;
}

[company-title]:hover::before,
[salary-title]:hover::before {
    content: attr(company-title);
    position: absolute;
    display: inline-block;
    bottom: 25px;
    margin-left: 15%;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
    background: #00205B;
    color: white;
    white-space: nowrap;
}

[salary-title]:hover::before {
    content: attr(salary-title);
    bottom: 25px;
}


/**********************************/
/* -------- ERROR MASSEGE ------- */
/**********************************/

.name__error,
.salary__error,
.missing__name_salary,
.wrong__salary_number {
    font-size: 100%;
    color: #FF5049;
    display: none;
    position: absolute;
    margin-top: 41px;
    padding-top: 2px;
    margin-left: 25.5%
}

.salary__error,
.wrong__salary_number {
    margin-left: 56%;
}

.missing__name_salary {
    margin-left: 41%;
}

.red {
    color: #FF5049 !important;
}
